.btn-a{
    background-color: #ff9593;
    color: white;
    padding: 7px 12px;
    border-radius: 2px;
    font-weight: bold;
}

.btn-a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#welcome_admin{
    position: absolute;
    top: 25px;
    left: 25px;
}
#body_admin{
    height: 300px;
}
