
.product_block{
    border: 1px solid #bfb5b5;
    box-shadow: 0px 0px 24px #fff8f8;
    width: fit-content;
    margin: auto;
    margin-bottom: 10%;
}
.product_img{
    width: 252px;
    height: 227px;
}
.product_description{
    margin: 9px 14px;
}

/* EDIT PRODUCT */

#form_delete_product{
    position: absolute;
    margin-left: 72.6%;
    margin-top: -38px;
}

/* EDIT CATEGORY */

#form_delete_category{
    position: absolute;
    margin-left: 72.6%;
    margin-top: -38px;
}