{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h4 class="text-center mb-5">Mot de passe oublié :</h4>
        <p class="text-center mb-4">Inscriver votre adresse mail afin de procéder à la réinitialisation de votre mot de passe</p>
        <div class="w-25 m-auto">
            {{form(formEmail)}}
        </div>
    </div>
    {{ include('footer.html.twig') }}

{% endblock %}