{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    
     {% include('template.html.twig') %}
    <div class="d-flex">

    <section class="w-75 d-flex mr-auto ml-auto mt-5" id="security_block">
        {% include('security/template.html.twig') %}
    </section>
    </div>
    {{ include('footer.html.twig') }}
    
{% endblock %}

