{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h4 class="text-center mb-5">Réinitialisation de votre mot de passe</h4>
        <div class="w-25 m-auto">
        {{ form(formNewPass)}}
        </div>
    </div>
    {{ include('footer.html.twig') }}

{% endblock %}