{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="col"> Mealia </h1>
    </div>

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/nicolasalliaume/Documents/Code/Local-sites/git /Mealia/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/nicolasalliaume/Documents/Code/Local-sites/git /Mealia/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
