{% extends 'base.html.twig' %}

{% block body %}

{% include('template.html.twig') %}

<div class="container" id="apropos">
    <div class="row">
        <div class="col-lg-7 text-justify">
            <p>
            Méalia est une marque d'accessoires textiles, confectionnés à partir de tissus responsables, choisis avec soin.</p>
            <p>
            Derrière cet univers il y a Marine, et Marine c'est moi ! Les activités manuelles sont un moyen de me laisser aller à des émotions positives et mon escapade créative se trouve dans la couture.
            </p>
            <p>
            J'associe beaucoup de mes souvenirs d'enfance à une machine à coudre, car c'est ma maman qui me fabriquait mes déguisements lorsque j'étais enfant. Couturière aguerrie, elle a su me transmettre sa rigueur, sa précision et sa technique.
            </p>
            <p>
            Au fil du temps, tous ces déguisements sont stockés dans une boîte appelée « la malle aux trésors ». C'est à partir de là que ma passion pour la couture est née.
            </p>
            <p>
            En espérant vous retrouver nombreux dans cette aventure !
            </p>
        </div>
        <div class="col-lg-5">
            <img src="" alt="">
        </div>
    </div>
</div>

{% endblock %}