{% extends 'base.html.twig' %}
{% block body %}
{{ include('template.html.twig') }}
<section class="container">
    <header>
        <h1>Conditions Générales de Vente</h1>

    </header>
    <div class="col-lg-12" id="cgv_body">
    
    <h3>PRÉAMBULE</h3>

    <p> Les intitulés des articles du présent Conditions Générales de Vente ne figurent que pour plus de commodité et n’affectent en aucune manière le sens des dispositions auxquelles ils font réf </p>


    <h4>ARTICLE 1 : OBJET</h4>

    <p> Les Conditions Générales de Vente détaillées ci-dessous régissent les relations contractuelles entre l’enseigne commerciale Méalia (ci-après désignée Méalia), et entre tout utilisateur du site Méalia (ci-après désigné le Client).
    Les présentes Conditions Générales de Vente visent à préciser les droits et obligations du Client à l’égard des produits vendus par Méalia, dans le cadre d’un système de vente à distance. </p>


    <h4>ARTICLE 2 : AUTEUR DE L’OFFRE</h4>

    <p> L’auteur de l’offre est l’enseigne commerciale Méalia, dont le siège est situé Rennes – 35200 et immatriculée au Répertoire des Métiers de Rennes sous le numéro SIRET 891 120 321 00015. </p>


    <h4>ARTICLE 3 : CHAMP D’APPLICATION DU CONTRAT</h4>

    <p> Ces Conditions Générales de Vente sont les seules applicables et remplacent toutes autres conditions, écrites ou non écrites.
    Méalia peut être ponctuellement amené à modifier certaines des dispositions de ces Conditions Générales de Vente. Ces modifications sont opposables à compter de leur mise en ligne et ne peuvent s’appliquer aux contrats conclus antérieurement.
    La commande de produits présentés sur le site Méalia est subordonnée à l’acceptation par le Client et vaut acceptation sans aucune réserve par ce dernier, de l’intégralité des Conditions Générales de Vente exposées ci-après.
    L’acceptation du Client est matérialisée par un ‘double clic de validation’. Cette démarche équivaut pour le Client à reconnaître qu’il a pris pleinement connaissance et qu’il approuve l’ensemble des Conditions Générales de Vente indiquées ci-après. A défaut d’user de la faculté de rétractation légale, le Client est irrévocablement engagé par le bon de commande après l’avoir approuvé électroniquement, par le biais du ‘double clic de validation’.
    Dans ces conditions, Méalia invite ses Clients à lire attentivement les Conditions Générales de Vente avant de procéder à toute commande effective de produits figurants sur le site Internet. </p>


    <h4>ARTICLE 4 : PRODUITS</h4>

    <p> Les produits proposés à la vente sont ceux figurant sur le catalogue électronique du site Méalia au jour de la consultation du site par le Client.
    Les photographies du catalogue sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec le produit vendu, notamment en ce qui concerne les couleurs en raison des réglages de l’écran du Client et de l’éclairage lors des prises de vue.
    Les produits proposés à la vente sont décrits et présentés avec la plus grande exactitude possible, toutefois les indications de poids, de taille, de couleur, ainsi que les particularités ne figurent qu’à titre indicatif et peuvent varier étant donné le caractère artisanal de nos produits. </p>


    <h4>ARTICLE 5 : DURÉE DE L’OFFRE</h4>

    <p> Nos offres de produits et prix sont valables tant qu’elles sont visibles sur le site.
    Les produits sont proposés dans la limite des stocks disponibles. En cas de rupture de stock, le Client sera informé du délai de réapprovisionnement et aura la possibilité d’annuler la commande. </p>


    <h4>ARTICLE 6 : ZONE GÉOGRAPHIQUE DE L’OFFRE</h4>

    <p> Zone géographique de couverture de l’offre : l’offre visée aux présentes Conditions Générales de Vente est valable pour le monde entier. </p>


    <h4>ARTICLE 7 : TARIFS</h4>

    <p> Les prix sont présentés en Euros Toutes Taxes Comprises (TVA + autres taxes), pour la France Métropolitaine ainsi que les pays membres de l’Union Européenne. En cas de commande vers le Reste du Monde (pays hors France Métropolitaine et non membres de l’UE), le paiement s’effectue en Hors Taxe. Les éventuels frais de douane ou taxes locales seront à la charge du Client ou du destinataire désigné dans le bon de commande, celui-ci s’en acquittant lors de la livraison (passage en douane).
    Les prix indiqués tiennent compte des taxes applicables au jour de la commande. Si le taux de ces taxes venait à être modifié, ces changements pourraient être répercutés sur le prix des articles sans que le Client en soit préalablement informé.
    Méalia se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable au Client, sous réserve de disponibilité. </p>


    <h4>ARTICLE 8 : COMMANDE</h4>

    <p> Le fait de passer une commande implique l’adhésion entière et irrévocable du Client aux présentes Conditions Générales de Vente et la renonciation à se prévaloir de ses propres conditions d’achat ou d’autres conditions.
    Toute commande par le Client constitue une acceptation des prix et description des produits disponibles à la vente.
    L’ensemble des données fournies et le “double clic de validation ” (loi du 13 mars 2000 sur la signature électronique) vaudront preuve de la transaction.
    Méalia confirme les détails de la commande Client par courrier électronique.
    Méalia se réserve le droit d’annuler ou de refuser toute commande d’un Client avec lequel il existerait un litige relatif au paiement d’une commande antérieure ou qui présenterait à ses yeux une quelconque forme de risque. </p>


    <h4>ARTICLE 9 : PAIEMENT</h4>

    <p> Pour régler sa commande, le Client dispose de l’ensemble des modes de paiement proposés lors de la validation finale du bon de commande.
    Par la validation du bon de commande, le Client garantit à Méalia disposer des autorisations nécessaires pour utiliser le mode de paiement choisi. </p>

    <p> Modes de paiement proposés :

    <p> Carte bancaire (paiement en ligne) :
    Les paiements par cartes bancaires seront réalisés par le biais du système sécurisé "Mollie".
    La commande ne sera traitée qu’après validation du paiement en ligne. </p>
    
    <p> Virement bancaire :
    La commande ne sera traitée qu’à réception du virement et après validation par la banque.
    La commande du Client sera alors réservée pendant 7 jours. Au delà de ce délai, sans réception du précité virement, la disponibilité indiquée au moment de la commande ne sera plus garantie et la commande pourra être annulée. </p>

    <p> Devise du paiement :
    Toute commande passée sur www.mealia.fr, quelle que soit son origine, est payable en Euros.

    <p> Défaut de paiement :
    Méalia se réserve le droit de refuser d’effectuer une livraison ou d’honorer une commande émanant d’un Client qui n’aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d’administration. </p>

    <p> Sécurité et confidentialité lors d'un paiement en ligne :
    Le système de sécurisation mis en place pour le paiement par carte bancaire est le système "Mollie". Les informations personnelles ainsi que les numéros de cartes bancaires ne transitent jamais en clair sur le réseau internet, les données sont cryptées et transmises par le protocole SSL (Certificat SSL).
    Méalia n’a jamais accès à votre numéro de carte bancaire. </p>

    <p> Lutte contre la fraude :
    Avant d’expédier la commande et afin de prévenir les fraudes relatives à la vente à distance, Méalia se réserve le droit de demander au Client des justificatifs de domicile et/ou d’identité. A défaut de justificatif ou si les pièces adressées ne permettent pas de s’assurer de l’identité de l’auteur de la commande et de la réalité de la domiciliation, Méalia serait dans l’obligation d’annuler la commande pour garantir la sûreté des transactions. </p>


    <h4>ARTICLE 10 : EXPÉDITION ET LIVRAISON</h4>

    <p> Délai d’expédition :
    Notre délai maximum de départ du colis de votre commande est de 3 jours ouvrables à partir de votre date de commande si l’article est en stock.
    Vous êtes informé par e-mail dès l'expédition de la commande, avec N° suivi colis correspondant à notre expédition.
    En cas de retard inhabituel (rupture de stock par exemple), un e-mail vous sera adressé. </p>

    <p> Délais de livraison :
    Le système “Colissimo Suivi” de la Poste permet une livraison dans un délai moyen de 48 à 72 heures .
    Ces délais sont communiqués à titre indicatif.
    Pour les paiements par virement, les délais de livraison doivent être recalculés à partir de la date d’enregistrement du paiement. </p>

    <p> Frais de port:
    Chaque commande sur le site occasionne des frais d’expédition pour la livraison du colis. Le montant des frais de livraison varie selon le poids et la valeur des produits commandés.
    Les frais d’expédition peuvent être réduits ou supprimés en fonction des opérations commerciales en cours.
    Les frais de port sont calculés avant la validation de votre commande. </p>

    <p> Transporteur :
    Le transporteur sélectionné par Méalia est la Poste, c’est pourquoi, sauf demande express de votre part, nos livraisons se feront par Colissimo Suivi. Méalia se réserve aussi la possibilité d’utiliser les services d’un autre transporteur. </p>

    <p> Retard de livraison lié au transporteur :
    En cas de retard de livraison dans les huit jours ouvrés, par rapport à la date initialement fixée, Méalia suggère au Client de vérifier auprès du bureau de poste ou du transporteur si le colis n’est pas en instance. Le cas échéant, Méalia invite le Client à signaler ce retard. Méalia contactera alors le transporteur afin qu’une enquête soit ouverte.
    Une enquête peut durer jusqu’à 21 jours ouvrés. Si pendant ce délai, le produit est retrouvé, il sera immédiatement réacheminé au domicile du Client ou du destinataire désigné dans le bon de commande.
    En revanche, si le produit commandé n’est pas retrouvé à l’issue de ce délai de 21 jours d’enquête, vous pouvez demander à être remboursé.
    Il est rappelé qu’aucun remboursement ou renvoi du produit ne pourra être effectué avant la clôture de l’enquête. </p>

    <p> Retard de livraison lié à Méalia :
    Nous invitons le Client à consulter régulièrement le suivi de sa commande sur le site Méalia (rubrique : “Mon compte” > “Mes commandes”) pour connaître l’avancement de la commande. Bien entendu, Méalia tiendra le Client informé de tout retard d’expédition dont il aurait connaissance.
    En cas de retard, si le produit n’a pas encore été envoyé, le Client peut procéder à l’annulation de sa commande.
    Si plusieurs produits sont commandés en même temps et que seuls certains d’entre eux subissent un retard, Méalia se réserve la possibilité de fractionner les livraisons. Dans ce cas : seuls les produits expédiés seront débités.
    Les frais d’expédition des produits expédiés en retard seront gratuits ; les produits qui subissent un retard pourront être supprimés de la commande et donneront lieu à un remboursement. </p>

    <p> Rupture de stock :
    En cas d’indisponibilité de produit après passation de la commande, le Client sera informé des articles en rupture. Le Client pourra alors demander l’annulation, l’échange ou fractionnement de sa commande. </p>

    <p> Dommage pendant le transport :
    A la livraison, nous conseillons au Client de vérifier l’état de l’emballage et de la marchandise et de signaler, dans un délai de 48 heures, les dommages au transporteur, ainsi qu’au Service Client. Si cette procédure n’est pas respectée, Méalia se dégage de toute responsabilité sur d’éventuels échanges ou remboursement de produits. De plus, à compter de la livraison, les risques des marchandises livrées sont transférés au Client. </p>

    <p> Coordonnées et lieux de livraison :
    Les produits seront livrés à l’adresse indiquée sur le bon de commande.
    Le Client se doit de vérifier l’exhaustivité et la conformité des renseignements fournis lors de la commande, notamment concernant l’adresse de livraison.
    Méalia ne pourrait être tenu responsable d’éventuelles erreurs de saisie et des conséquences qui en découlent (par exemple : retards ou erreurs de livraison). Dans ce contexte, les frais engagés pour la réexpédition de la commande seraient à la charge du Client. </p>

    <p> Livraison internationale :
    Les produits que nous proposons sont conformes à la législation et aux normes applicables en France.
    Pour tout achat dans les pays de la zone de livraison, en vu d’exportation, le Client est tenu de vérifier la spécificité des législations en vigueur du pays concerné, que ce soit pour les taxes, les déclarations ou les interdictions.
    Notre responsabilité ne pourra être engagée en cas de non-respect de la législation du pays où le produit est livré, il appartient au Client de vérifier auprès des autorités locales les possibilités d’importation ou d’utilisation des produits. </p>


    <h4>ARTICLE 11 : DROIT DE RÉTRACTATION</h4>

    <p> Délai de rétractation :
    Conformément à la loi Chatel en application au 1er Juin 2008, article L.121-18 alinéa 4, le Client dispose d’un droit de rétraction de 14 jours calendaires à partir du jour de réception de la commande sans donner de motif.
    Ce délai commence à courir à compter de la date de livraison du colis, la date de la signature de la preuve de dépôt (pour les Colissimo Suivi uniquement) faisant foi.
    Une fois ce délai expiré, le Client ne dispose plus de ce droit de rétractation et aucun remboursement ne sera alors effectué.
    En cas d’exercice du droit de rétractation, le Client aura le choix de demander soit le remboursement de sa commande, soit l’échange du produit. </p>

    <p> Modalités de remboursement :
    Le remboursement s’effectue par le même moyen de paiement utilisé par le Client sur le site internet.
    Le remboursement peut aussi se faire sous forme d’avoir, à condition d’un accord de la part du Client.
    Dans le cas d’un remboursement, le Client se verra rembourser la totalité des sommes engagées, frais de livraison “ALLER” inclus. Si le Client a choisi un mode de livraison express, il ne sera remboursé que sur la base d’une livraison standard.
    En cas d’utilisation d’un code de réduction lors de la commande, la somme remboursée tiendra compte de cette réduction. </p>

    <p> Modalités d’échange :
    Si la nouvelle commande est d’un montant supérieur à la commande donnant lieu à l’échange, le Client devra joindre à la demande d’échange le paiement du reliquat. </p>

    <p> Frais de retour :
    Méalia ne prend pas en charge les frais de retour. Les frais de retour sont intégralement à la charge du Client et ne seront pas remboursés par Méalia, sauf dans le cas d’un produit non-conforme. </p>

    <p> Délais de remboursement ou d’échange :
    Le remboursement est effectué dans un délai de 14 jours après réception des articles retournés par le Client.
    Au-delà de ce délai de 14 jours, le Client est en droit de percevoir les sommes dues avec un intérêt supplémentaire égal au taux légal en vigueur.
    Cependant, compte tenu du caractère spécifique des produits vendus, ce délai pourra être étendu à 30 jours, en particulier lorsque le produit requiert une vérification technique. </p>

    <p> Mise en œuvre du retour produit :
    Un avis de rétractation doit accompagner le ou les articles retournés, ainsi que le numéro de la facture correspondant à l’achat du ou des articles retournés. Méalia assure le remboursement de la totalité des sommes perçues au titre du ou des articles concernés, ainsi que les frais de livraison “ALLER”.
    Pour tout droit de rétractation, le retour s’exerce selon les modalités de l’article 13.
    Méalia attire à nouveau l’attention du Client sur la nécessité de joindre une copie de la facture. </p>

    <p> Clause de non-remboursement :
    Le ou les articles de la commande retournés par le Client doivent être expédiés dans un emballage protecteur et en état neuf.
    Le présent droit de retour ne pourra être accepté que pour les produits dans leur état d’origine et complets (emballage, accessoires, notice, etc.). Les articles retournés rayés, incomplets, abîmés, endommagés ou salis par le Client ne sont ni repris, ni remboursés.
    Attention : les articles faits sur mesure, confectionnés selon les spécifications du consommateur ou nettement personnalisés n’entrent pas dans le cadre de cette loi et ne bénéficient pas du droit de rétractation. Ces produits ne sont ni repris ni échangés.
    Les produits retournés sans protection physique ou mal protégés seront refusés; il appartient donc au Client de veiller à protéger son article lors du transport. </p>

    <p> Cas d’une erreur ou d’une non conformité :
    Si une erreur de livraison a été commise par rapport à la commande ou pour tout cas précis d’erreur ou de non-conformité, Méalia prendra en charge les frais de retour. </p>


    <h4>ARTICLE 12 : GARANTIE</h4>

    <p> Garantie commerciale :
    Sans préjudice de la garantie légale, le Client bénéficie d’une garantie commerciale. Les produits disponibles sur www.mealia.fr sont garantis contre tout vice de fabrication. Méalia s’engage à rembourser au Client ou à échanger, les produits reconnus défectueux qui seraient retournés durant cette période. La garantie est limitée à la valeur de l’article et n’est valable que si le produit est utilisé pour l’usage auquel il est destiné et dans des conditions normales d’utilisation.
    Sont exclus de cette garantie : l’usure normale due à l’utilisation régulière,l’usure par le frottement, l’exposition aux températures extrêmes, les dommages résultant d’une cause externe au produit (accident, choc, immersion, etc.), l’exposition à des produits ou solvants non adaptés, les dommages causés par un mauvais entretien, un mauvais usage ou une négligence, l’utilisation anormale ou non conforme des produits.
    Dans le cas où la garantie commerciale a vocation à jouer, le Client devra en informer Méalia, qui s’engage à remédier au problème dans les meilleurs délais. S’il n’est pas possible de réparer l’article dans le cadre de l’exécution de la garantie, le produit sera alors échangé ou remboursé sous forme d’avoir dans un délai de 30 jours à compter de sa réception par Méalia.
    Si le Client opte pour un échange, celui-ci ne peut porter que sur un produit strictement identique à celui initialement commandé par le Client, sauf si le produit concerné n’est plus disponible à la date de la mise en œuvre de la garantie commerciale. </p>

    <p> Garanties légales :
    Indépendamment de la garantie commerciale, le Client bénéficie des garanties légales relatives aux défauts de conformité du produit (articles L. 211-4 et suivants du Code de la Consommation) et des vices rédhibitoires (dans les conditions prévues aux articles 1641 à 1649 du Code Civil), tel que rappelé ci-dessous : </p>

    <p> Article L. 211-4 du Code de la consommation : “Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.”
    Article L. 211-5 du Code de la consommation : “Pour être conforme au contrat, le bien doit :
    1° Etre propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant : correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l’Acheteur sous forme d’échantillon ou de modèle ;
    présenter les qualités qu’un Acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou son représentant, notamment dans la publicité ou l’étiquetage ;
    2° Ou présenter les caractéristiques définies d’un commun accord par les parties ou être propre à tout usage spécial recherché par l’Acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.”
    Article L. 211-12 du Code de la consommation : “L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.”
    Article 1641 du Code civil : “Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’Acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.”
    Article 1648 alinéa premier du Code civil : “L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur, dans un délai de deux ans à compter de la découverte du vice.” </p>

    <p> Garanties concernant le Site :
    Méalia ne consent aucune garantie sur le site Internet et/ou le contenu. En particulier, Méalia ne consent aucune garantie quant à la conformité d’un quelconque élément du site à usage particulier.
    Méalia ne garantit pas que les fonctions opérationnelles du site, ainsi que le contenu ou tout autre élément figurant sur le site, seront à tout moment disponibles, ininterrompus ou sans erreur.
    De plus, Méalia ne garantit pas que les défauts ou erreurs éventuels seront immédiatement corrigés ou que le site ou son serveur seront à tout moment exempts de virus ou d’autres composants susceptibles de causer un dommage. </p>


    <h4>ARTICLE 13 : RETOUR PRODUIT</h4>

    <p> Le processus de retour s’applique dans le cas de la garantie commerciale ou des garanties légales ainsi que pour le droit de rétractation. Si la procédure de retour n’est pas respectée, Méalia ne pourra donner suite à la demande du Client. </p>

    <p> Procédure de retour :
    Tout retour de marchandises nécessite l’accord préalable de Méalia. Pour cela, il est préférable de nous contacter par mail à l'adresse contact@mealia.fr ou dans la rubrique "contact" du site www.mealia.fr. L’article retourné doit être accompagné d’une copie de la facture. Le Client est invité à indiquer la raison du retour afin que Méalia puisse améliorer ses produits et services.
    Le Client est le seul responsable du colis et de son contenu durant le retour, Méalia invite donc le Client à prendre toutes les dispositions nécessaires afin d’assurer les risques de perte, de vol ou de détérioration.
    Méalia conseille au Client de retourner la marchandise en recommandé ou en suivi postal et de souscrire éventuellement à une assurance auprès du transporteur qui couvre la valeur marchande des produits.
    Le colis doit être envoyé à l’adresse communiquée au Client lors des échanges de mail. </p>
    
    <p> Rappel concernant les frais de retour :
    Méalia ne prend pas en charge les frais de retour. Le frais de retour sont intégralement à la charge du Client et ne seront pas remboursés par Méalia, sauf dans le cas d’un produit non-conforme. </p>


    <h4>ARTICLE 14 : DONNÉES NOMINATIVES – DISPOSITIONS DE LA LOI « INFORMATIQUES ET LIBERTÉS »

    <p> Conformément à la loi relative à l’informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif relatives aux Clients pourront faire l’objet d’un traitement automatisé. Elles seront utilisées par nos services internes pour le traitement de votre commande, pour des analyses statistiques et pour notre fichier clientèle afin de personnaliser notre communication et notre offre produit.
    A tout moment, le Client dispose d’un droit d’accès, de modification, de rectification et de suppression des données le concernant (art 34 de la loi « Informatiques et Libertés » du 6 Janvier 1978). Pour exercer ce droit, le Client peut soit contacter Méalia à l'adresse contact@mealia.fr, soit modifier directement ses informations en accédant à la rubrique “Mon compte”.
    Pour connaitre les détails de notre Politique de Confidentialité et les précautions prises pour maintenir la confidentialité des données à caractères personnel, cliquez ici.
    Le Client est susceptible de recevoir des offres de la part Méalia (Newsletter). Si le Client ne souhaite plus recevoir ces offres, il peut à tout moment se désabonner de la newsletter via l’espace Client (rubrique : “Mon compte” > “Mes informations” > “Newsletter et données personnelles”). </p>


    <h4>ARTICLE 15 : RESPONSABILITÉ</h4>

    <p> Force majeure :
    Méalia ne saurait être tenu responsable de tout manquement à ses obligations contractuelles qui aurait pour origine un cas de force majeure ou fortuite. </p>

    <p> Réseau Internet:
    La responsabilité de Méalia ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau Internet, notamment une rupture du service, une intrusion extérieure, la présence de virus informatiques, la perte de données ou autres problèmes involontaires.
    Il appartient au Client de vérifier ou de faire vérifier que son équipement informatique et/ou de télécommunications est adapté et compatible avec le site Méalia et ce avant toute utilisation. Il appartient également au Client de mettre en place toutes les protections raisonnables et nécessaires contre les programmes, appareils ou communications dommageables, notamment au moyen de logiciels anti-virus. </p>

    <p> Liens vers d’autres sites :
    Sur le site Méalia, des liens hypertextes peuvent renvoyer vers d’autres sites que celui de Méalia.
    En cas de liens hypertextes pointant vers d’autres sites, Méalia ne serait être tenu responsable du contenu des informations fournies sur ces sites après activation de ces liens.
    Méalia n’est pas responsable d’un non respect par ces sites des dispositions légales ou réglementaires en vigueur. Pour tout problème, il est conseillé de prendre contact avec les responsables du site en question. </p>

    <p> En vertu de l’article 14, al. 1 du règlement européen n° 524/2013 du 21 mai 2013 relatif au RELC, la Commission Européenne met à la disposition des consommateurs une plateforme en ligne de règlement des litiges disponible à cette adresse: http://ec.europa.eu/consumers/odr/ </p>

    <p> Dommages indirects :
    Dans le cadre de ce contrat, les dommages indirects n’ouvrent pas droit à réparation par Méalia </p>


    <h4>ARTICLE 16 : DROITS APPLICABLES – LITIGES </h4>

    <p> Les présentes Conditions Générales de Vente sont soumises à la loi française quel que soit le pays de livraison.
    La langue du présent contrat est la langue française.
    Si pour une quelconque raison, une ou plusieurs clauses des présentes Conditions Générales de Vente sont jugées inapplicables ou non valides, les autres clauses garderont toute leur force et leur portée. La ou les clauses jugées inapplicables seront alors remplacées par la disposition la plus proche possible.
    En cas de litige, le Client s’engage à s’adresser en priorité à Méalia afin de convenir d’une solution amiable. Dans le cas d’une solution amiable, le fait de ne pas exercer l’un des droits qui lui est conféré au titre du contrat ne saurait être interprété pour l’avenir comme une renonciation au droit en cause ni comme un obstacle à l’exercice de tout autre droit. </p>


    <h4>ARTICLE 17 : COMMENTAIRES, CRITIQUES, COMMUNICATION :</h4>

    <p> Tous les avis déposés par les Clients sont surveillés et modérés par l’équipe Méalia.
    Le Client déclare être propriétaire ou titulaire des droits nécessaires sur le contenu qu’il transmet.
    Dès lors que des propos enfreignent la loi et l’éthique ou que les commentaires sont hors de contexte, Méalia se réserve le droit, à son entière discrétion, d’enlever ou de modifier tout contenu. </p>


    <h4>ARTICLE 18 : COORDONNÉES DU SERVICE CLIENT</h4>
    
    <p> Pour toute information ou question, le Client peut contacter le service client en remplissant le formulaire de contact disponible sur www.mealia.fr et toute demande sera traitée dans les meilleurs délais.
    Il est également possible de contacter Méalia par mail à l’adresse contact@mealia.fr </p>


    <h4>ARTICLE 19 : COORDONNÉES ET CONTACT DU CLIENT</h4>

    <p> Méalia peut adresser toute notification prévue au contrat, soit sous la forme d’une publication sur le site, soit par e-mail, soit par courrier postal, à l’adresse du Client enregistrée dans nos fichiers. Le Client reconnaît et accepte que l’un ou l’autre de ces modes de notifications, soit suffisant pour son information. </p>
    </div>
</section>
{{ include('footer.html.twig') }}

{% endblock %}