{% extends 'base.html.twig' %}

{% block body %}

{% include('template.html.twig') %}

<div class="container mt-5" id="points_sale_block">
    <figure>
        <img src="{{ asset('images/France.png') }}" alt="carte de France" id="france">
        <figcaption class="text-center"> Voici la liste des boutiques dans lesquelles vous pourrez trouver certaines de nos créations :
        </figcaption>
    </figure>
    <div>
        <img src="" alt="">
        <div class="points_sale_line m-auto"></div>
        <p class="text-center mt-3" id="Kabanon">SIGNATUR'SUBTIL – Salon de coiffure</p>
        <p class="text-center">3 rue de Rennes</p>
        <p class="text-center">35830 Betton</p>
    </div>
</div>
{{ include('footer.html.twig') }}

{% endblock %}