{% extends 'base.html.twig' %}


{% block body %}
{% include('template.html.twig') %}
<div class="container">
        {{ include('category/form.html.twig', {form: formCategory, button : 'Ajouter'}) }}
</div>

{% endblock %}
