{% extends 'base.html.twig' %}


{% block body %}
{% include('template.html.twig') %}
<div class="container">
        {{ include('category/form.html.twig', {form: formCategory, button : 'Modifier'}) }}
        <form method="post" action="{{ path('remove_category', {id: category.id})}}" id="form_delete_category" style="display:inline-block">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
</div>

{% endblock %}