{% extends 'base.html.twig' %}


{% block body %}
{% include('template.html.twig') %}
<div class="d-flex">
    {% include('admin/template.html.twig')%}
    <div class="container">
        <h3 class="text-center">Modifier la categorie</h3>
        {{ include('category/form.html.twig', {form: formCategory, button : 'Modifier'}) }}
        {% if app.request.get('_route') == 'remove_category' %}
        <form method="post" action="{{ path('remove_category', {id: category.id})}}" id="form_delete_category" style="display:inline-block">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
        {% endif %}
    </div>
</div>
{{ include('footer.html.twig') }}

{% endblock %}