{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% include('template.html.twig') %}
{% include('admin/nav.html.twig')%}
<div class="container" id="body_admin">
    <h1 class="text-center" id="welcome_admin">Bonjour {{admin.firstName}}</h1>
</div>
 
{% endblock %}
