{% extends 'base.html.twig' %}


{% block body %}
{% include('template.html.twig') %}
<div class="d-flex">
    {% include('admin/template.html.twig')%}
        <div class="container">
        <h3 class="text-center">Ajouter une collection</h3>
                {{ include('collection/form.html.twig', {form: formCollection, button : 'Ajouter'}) }}
        </div>
</div>
{{ include('footer.html.twig') }}

{% endblock %}