<footer>
    <hr>
    <div class="col-lg-12 mb-5 mt-5 text-center">
        <p><a href="{{ path("legal_notices") }}" class="text-dark">Mentions légales</a></p>
        <p><a href="{{ path("cgv") }}" class="text-dark">CGV</a></p>
    </div>
    <div class="col-lg-12 col-xs-8 text-dark copyright">
        <p class="text-center"> TVA non applicable, article 293B du CGI</p>
        <p class="text-center">Tous droits réservés © Marine Malécot 2021 - Méalia</p>
    </div> 
</footer>