{% extends 'base.html.twig' %}

{% block body %}
{% include('template.html.twig') %}
<div class="container">
    <h1>Modifier un produit</h1>
    {{ include('admin/product/form.html.twig', {button : 'Enregistrer les modifications'}) }}
    <form method="post" action="{{ path('remove_product', {id: product.id})}}" style="display:inline-block">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>
{% endblock %}
