{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello  ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/nicolasalliaume/Documents/Code/Local-sites/git /Mealia/src/Controller/PaymentController.php'|file_link(0) }}">src/Controller/PaymentController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/nicolasalliaume/Documents/Code/Local-sites/git /Mealia/templates/payment/index.html.twig'|file_link(0) }}">templates/payment/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
