<div class="logo-mail" style="position : absolute">
    <img src="{{ absolute_url(asset('images/logo-mail1.png')) }}" style="width : 200px ;" alt="logo">
</div>
<div style="width : 60%; position : absolute; left: 20%; top : 18%; font-weight: lighter; font-family: 'Dosis', sans-serif">

<p style="text-align: center;">Bonjour, </p>
<p style="text-align: center;">Vous avez effectué une demande de réinitialisation de mot de passe sur notre site. </p>
<p style="text-align: center;"> Veuillez cliquez sur le lien suivant : <a style="color : #ff9593;" href="{{ url }}">{{ url }}</a></p>

</div>
<div class="logo-mail" style="position : absolute; right : 0; bottom : -23%">
    <img src="{{ absolute_url(asset('images/logo-mail2.png')) }}" style="width: 136px; height: 275px;" alt="logo">
</div>